
<h1>
  test Page
</h1>

<button mat-raised-button>clickMe!!!</button>

<p></p>

<h2>  Calculate Numbers </h2>

<input pInputText pKeyFilter="int" placeholder="add Numer 01" [(ngModel)]="numer01"  id="input01"/>
+
<input pInputText pKeyFilter="int" placeholder="add Number 02"  [(ngModel)]="numer02" id="input02"/>
=
<input data-cy="calculationResult" pInputText pKeyFilter="int" placeholder="result"  [(ngModel)]="res" id="result"/>


<p></p>
<p-button data-cy="addNumbersButton" label="add Numbers" (onClick)="addNumers()" id="addButton" ></p-button>